@model ML.Usuario
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src=”../../Scripts/jquery/-1.10.2.js” type=”text/javascript”></script>
<script src=”../../Scripts/jquery/-1.10.2.min.js” type=”text/javascript”></script>
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript" src="~/Scripts/PersonalScripts/FormScript.js"></script>

<div class="container">
    <div class="row">
        <div class="col-auto">
            <h2>Formulario</h2>
            <h5>Llena todos los campos y contesta para enviar el formulario</h5>
            <hr />
        </div>
    </div>

    @using (Html.BeginForm("Form", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.IdUsuario, new { @class = "visually-hidden" })
                @Html.TextBoxFor(model => model.IdUsuario, new { @class = "visually-hidden" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.UserName)
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserName, null, new { style = "color: red" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Nombre)
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nombre, null, new { style = "color: red" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.ApellidoPaterno)
                @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ApellidoPaterno, null, new { style = "color: red" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.ApellidoMaterno)
                @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ApellidoMaterno, null, new { style = "color: red" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, null, new { style = "color: red" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, null, new { style = "color: red" })
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Sexo)
                @Html.TextBoxFor(model => model.Sexo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Sexo, null, new { style = "color: red" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Celular)
                @Html.TextBoxFor(model => model.Celular, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Celular, null, new { style = "color: red" })
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.FechaNacimiento)
                @Html.TextBoxFor(model => model.FechaNacimiento, new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(model => model.FechaNacimiento, null, new { style = "color: red" })
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Rol.IdRol)
                @Html.DropDownListFor(model => model.Rol.IdRol, new SelectList(Model.Rol.Roles, "IdRol", "Nombre"), "--Seleccione una opción--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Rol.IdRol, null, new { style = "color: red" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Direccion.IdDireccion, new { @class = "visually-hidden" })
                @Html.TextBoxFor(model => model.Direccion.IdDireccion, new { @class = "visually-hidden" })
            </div>
        </div>
        <div class="row">


            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.Direccion.Municipio.Estado, new { @class = "control-label" })
                @if (Model.Direccion.Municipio.Estado.Estados == null)
                {
                    @Html.DropDownListFor(model => model.Direccion.Municipio.Estado.IdEstado, new SelectList(string.Empty, "Value", "Text"), "Selecciona un Estado", htmlAttributes: new { @id = "ddlEstado", @class = "form-control" })

                }
                else
                {
                    @Html.DropDownListFor(model => model.Direccion.Municipio.Estado.IdEstado, new SelectList(Model.Direccion.Municipio.Estado.Estados, "IdEstado", "Nombre"), "Selecciona un Estado", htmlAttributes: new { @id = "ddlEstado", @class = "form-control" })
                }
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.Direccion.Municipio, new { @class = "control-label" })
                @if (Model.Direccion.Municipio.Municipios == null)
                {
                    @Html.DropDownListFor(model => model.Direccion.Municipio.IdMunicipio, new SelectList(string.Empty, "Value", "Text"), "Selecciona un Municipio", htmlAttributes: new { @id = "ddlMunicipio", @class = "form-control" })

                }
                else
                {
                    @Html.DropDownListFor(model => model.Direccion.Municipio.IdMunicipio, new SelectList(Model.Direccion.Municipio.Municipios, "IdMunicipio", "Nombre"), "Selecciona un municipio", htmlAttributes: new { @id = "ddlMunicipio", @class = "form-control" })
                }
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Direccion.Calle)
                @Html.TextBoxFor(model => model.Direccion.Calle, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Direccion.Calle, null, new { style = "color: red" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => model.Direccion.NumeroExterior)
                @Html.TextBoxFor(model => model.Direccion.NumeroExterior, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Direccion.NumeroExterior, null, new { style = "color: red" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.Direccion.NumeroInterior)
                @Html.TextBoxFor(model => model.Direccion.NumeroInterior, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                @Html.LabelFor(model => model.Imagen)

                <input type="file" id="fuImagen" name="fuImagen" onchange="PreviewImagen(event)" />
                @if (Model.Imagen == null)
                {
                    <img src="~/images/DefaultImage.png" id="imgUsuario" style="  width:100px; height:100px; " />
                }
                else
                {

                    <img src="data:image/png;base64,@Convert.ToBase64String(Model.Imagen)" id="imgUsuario" style="  width:100px; height:100px; " />

                }
                @Html.HiddenFor(model => model.Imagen)

            </div>
        </div>
        <input type="submit" class="btn btn-success" value="@ViewBag.Accion" />
        @Html.ActionLink(" Regresar", "GetAll", "Usuario", new { area = "" }, new { @class = "btn btn-danger bi bi-backspace" })
    }
</div>



