﻿@model ML.Carrito
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/PersonalScripts/Carrito.js"></script>
<h1>Realiza tu compra!!!</h1>
<div class="container">
    @if (Model == null)
    {
        <div class="alert alert-warning" role="alert">
            No haz generado ningun carrito de compra
        </div>
    }
    else
    {
        <div class="alert alert-success" role="alert">
            Aqui podras visualizar los productos
        </div>
        if (Model.Detalles.Count > 0 || Model.Detalles != null)
        {
            <div class="row offset-md-8">
                <a class="form-control btn btn-info" href=" @Url.Action("AddPedido", "Carrito", new {IdCarrito = Model.IdCarrito})">Realizar compra</a>
                <div id="contenedorTotal"></div>
            </div>
            <br>
            foreach (ML.DetalleCarrito producto in Model.Detalles)
            {
                <div class="row text-center">
                    <div class="row" style="border:groove; padding:5px; margin:5px;">
                        <div class="col-md-3">
                            @if (@producto.Producto.Imagen == null)
                            {
                                <img src="https://th.bing.com/th/id/OIP.yg9K7_Uf9-FcRAgWVG93MAHaD0?rs=1&pid=ImgDetMain" id="imgProducto" style="  width:100px; height:100px; " />
                            }
                            else
                            {
                                <img src="data:image/png;base64,@Convert.ToBase64String(producto.Producto.Imagen)" id="imgProducto" style="  width:100px; height:100px; " />
                            }
                        </div>
                        <div class=" col-md-3">
                            <p>Descripción: @producto.Producto.Nombre</p>
                        </div>
                        <div class="col-md-2">
                            <p>Cantidad: @producto.Cantidad</p>
                        </div>
                        <div class=" col-md-2">
                            <p class="subtotal">Subtotal:<a name="Subtotales">@producto.Subtotal</a></p>
                        </div>
                        <div class=" col-md-2">
                            <a class="btn btn-danger" onclick="return confirm('¿Estas seguro de eliminar este producto?');" href=" @Url.Action("Delete", "CarritoCompra", new {IdDetalle = producto.IdDetalleCarrito})">
                                Eliminar producto
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                Tu carrito se encuentra vacío
            </div>
        }
    }
</div>

